{% extends "template.html" %}

{% block content %}

    <h1>CBoola Clicker</h1>
    <p>Zaloguj się, aby wspomóc świat w produkcji leczniczej cebuli.</p>

    {% if user.is_anonymous %}
        
        <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}" role="button">Zaloguj się przez Facebook'a</a>

    {% elif user.is_staff %}

        <p>
            Jesteś zalogowany jako administrator. <br />
            <a class="btn btn-default" href="/logout">Wyloguj się</a>
        </p>

    {% endif %}

    <hr>

    <h3>Obsługa Django jako backendu</h3>

    <p>
        Backend znajduje się w katalogu /var/www/server. Korzysta on z virtual environment w podkatalogu serverenv. Aplikacja jest hostowana przez Apache2 (aby odświeżyć aplikację wystarczy zreload-wać serwis (sudo service apache2 reload).
    </p>

    <p>
        Strona główna gry oraz podstawowe podstrony będą zintegrowane z Django (szablony HTML będą w podkatalogu homepage/templates, a pliki statystyczne, takie jak pliki CSS, czy obrazki, będą w podkatalogu homepage/static). Po edycji należy powiedzieć Django, aby odświeżyło cache (python manage.py collectstatic) - ale ja (Marcin) mogę zająć się przeniesieniem tego typu materiałów na serwer.
    </p>

    <h3>Rejestracja / logowanie</h3>

    <p>
        W aplikacji zaimplementowana jest funkcjonalność logowania przez platformę Facebook. Jest to w naszym przypadku najprostszy i najskuteczniejszy sposób implementacji rejestracji. Wszystkich członków naszej grupy dodałem do podogrupy developerów na platformie Facebook, abyśmy mogli skorzystać z możliwości rejestracji i testować aplikację.
    </p>

    <p>
        W momencie zarejestrowania / zalogowania następuje automatyczne przekierowanie do podstrony serwisu nie będącej częścią Django - jest to katalog /var/www/game. Tutaj zapewne, skoro pracujemy w Angular2, znajdą się skompilowane pliki strony internetowej.
    </p>

    <h3>Dostęp do API i jego konsumpcja</h3>

    <p>
        Dane dotyczące gracza, jak i wszelakich dostępnych ulepszeń, będzie można pobrać z poziomu API, znajdujacego się pod adresem <a href="/api">klik!</a>. Jest też dostępna automatycznie generowana dokumentacja pod adresem <a href="/docs">klik!</a>. 
    </p>

    <p>
        Przygotowałem bardzo prostą stronę w katalogu /var/www/game, która łączy się z API i pobiera podstawowe dane (przy użyciu jQuery) - ale to tylko przykład. Nie wiem, jakie dane będą potrzebne na stronie gry - tutaj musimy się jakoś dogadać, co i w jakiej formie. Na razie aktualne API bardzo ślicznie kłóci się z metodologią REST - tutaj też trzeba podjąć decyzję, czy robimy to technicznie poprawnie, czy po najmniejszej linii oporu.
    </p>

    <h3>Panel administracyjny</h3>

    <p>
        Strona posiada panel administracyjny - tutaj będzie można edytować dostępne ulepszenia dla cebuli, przeglądać graczy, etc. Jest dostępny pod adresem <a href="/admin">klik!</a>, a dane autoryzacyjne są takie same, jak dla konta root dla połączenia SSH z serwerem.
    </p>

    <h3>Nierozwiązane kwestie projektowe</h3>

    <p>
        Ostatnia kwestia to rola, jaką odgrywa serwer. Mamy kilka opcji: serwer jest głównym silnikiem rozgrywki (przelicza cebulę, wszystko sprawdza, etc.), a u klienta dzieje się dokładnie ten sam proces. W momencie komunikacji następuje walidacja po stronie serwera, czy dane wysyłane od gracza mają sens (rozwiązanie najlepsze, czasochłonne w implementacji). Inny pomysł: serwer przechowuje jedynie stan rozgrywki, bez walidacji - rozwiązanie dużo łatwiejsze, ale podatne na działalność hackerską. Pytanie, czy powinniśmy się tym tak przejmować.
    </p>

{% endblock content %}
